body {
  background-color: var(--bgColor);
  color: var(--fontColor);
}

@media (prefers-color-scheme: dark) {
  body {
    --bgColor: #333;
    --fontColor: #fff;
  }
}
@media (prefers-color-scheme: light) {
  body {
    --bgColor: #ddd;
    --fontColor: black;
  }
}
